.logo{
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(238, 238, 238);
}

.didact-gothic-regular {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    /* background-image:linear-gradient(to right, #01adee , #ed008a , #fef101); */
    background-color: rgb(39, 40, 42);
    font-family: "Didact Gothic";
}

.container{
    margin-top:100px;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(4, 200px);
}

.item{
    background-color: rgb(238, 238, 238);
    text-align: center;
    margin-top:30px;
    margin-left:15px;
    margin-right:15px;
    border-radius: 10px;
    padding:5%;
    /* Getting all the items to stack with span */
    grid-column: span 5;
    grid-row: span 2;
}

.item-1{
    /* grid-area: row-start col-start row-end col-end */
    /* first item of the grid, always displayed on top left */
    grid-area: 1/1/3/6;
    text-align: left;
    padding-left:5%;
}

.item-2{
    /* Aligning the text */
    text-align: left;
}

.icon{
    width: 40px;
    height: 40px;
}

.title{
    line-height: 0.3;
}

.map{
    border: 1;
    border-color:black;
    margin-top: 10px;
    width: 80%;
    height : 250px;
}

.item-text{
    padding-top: 9%;
    display:block;
    text-align: center;
}