.logo {
    width: 200px;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: red;
}

.container {
    margin-top:100px;
    margin-left: 10%;
    margin-right:10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(6, 1fr);
}

.item{
    background-color:rgb(41, 49, 51);
    text-align: center;
    /* Getting all the items to stack with span */
    grid-column: span 5;
    grid-row: span 2;
}

.item-1{
    /* grid-area: row-start col-start row-end col-end */
    /* first item of the grid, always displayed on top left */
    grid-area: 1/1/3/6;
    text-align: left;
    padding-left:5%;
}

.item-2{

}

.map{
    border: 0;
    width: 80%;
    height : 300px;
}